fastapi
uvicorn[standard]
requests
python-dotenv
sqlalchemy
pydantic[email]


#LEMBRETE PARA RODAR OS BAGULHO DO BACKEND
#python -m venv .\venv
#pip install -r requirements.txt


#.\venv\Scripts\activate
#uvicorn app.main:app --reload

#LEMBRETE PARA TESTES
#pip install pytest httpx
#pip freeze > requirements.txt

#https://account.heigit.org/manage/key - pegar a chave do openrouteservice caso a que ja esta aqui pare de funcionar
